
@font-face {
    font-family: FontAwesome-Brands;
    src: url(/woff/fa-brands-400.woff2);
    font-style: normal;
    font-weight: 400;
    font-display: block;
}


.main {
    /* flex-direction: column; */
    /* max-width: 1200px ; */
}

/* .profile {
    display: flex;
    height: 100vh;
    padding-bottom: 15vh;
    min-width: 220px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} */

.profile .avatar {
    width: 150px;
    height: 150px;
}
.profile .bio {
    color: #bbbbbb;
}
.profile .bio h2 {
    margin: 0;
}
.profile .bio p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.profile .social {
    /* margin-top: 1em; */
}

.social a {
    font-family: 'FontAwesome-Brands';
    color: #bbbbbb;
    font-size: 130%;
}

.social a:hover {
    font-family: 'FontAwesome-Brands';
    color: #0366d6;
}

.social a.linkedin:before {
    content: "\f08c"; }
.social a.github:before {
    content: "\f09b"; }
.social a.twitter:before {
    content: "\f099"; }
.social a.mastodon:before {
    content: "\f4f6"; }

/* 

@media (min-width: 1100px) {
.profile {
    position: fixed;
    max-width: 280px;
    top: 10em
}
} */
